body{
    background-color: #313131;
}


label{
    color: white;
    font-family: "Roboto", sans-serif;
}

/*---------------------- Select --------------------------*/
select{
    background-color: #29f3cf;
    border-radius: 10px;
    border-width:3px;
    cursor:pointer;
}

/*---------------------- Range --------------------------*/
input[type=range]{
    -webkit-appearance: none;
    height: 10px;
    background: #29f3cf;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #f3294d;
  cursor: pointer;
}

/*--------------------- Buttons ----------------------------*/  
.normal-btn {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin:0 0.1em 0.1em 0;
    border-radius: 10px;
    border-width:3px;
    background-color:#29f3cf;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: 0;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
  }
  
button.normal-btn:hover {
    border-color: #f3294d;
}

/*----------------- CheckBox -------------------------*/

/*input[type=checkbox] {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: aqua;
}*/

input[type=checkbox]{
  -webkit-appearance: none;
  position: relative;
  top:25px;
  width: 1.2em;
  height: 1.2em;
  margin-bottom: 20px;
  background: #e84d4d;
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type=checkbox]:before{
  display: block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.2em;
  background: #50565a;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input[type=checkbox]:checked{
  background: #62f329;
}

input[type=checkbox]:checked :before {
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  left: 1.6em;
}

/*------------------------- Text ------------------------------------*/

input[type=text]{
  background-color: #313131;
  color:white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

